<img src="public/images/logo-1.png" alt="">



<nav class="bottom-navbar">
    <a class="nav-item active" href="">
      <i-feather name="home"></i-feather>
      <p>Home</p>
    </a>
    <a class="nav-item" href="#">
      <i-feather name="bell"></i-feather>
      <p>notifications</p>
    </a>
    <!-- <div class="gen-menu-search-block">
      <a href="javascript:void(0)" id="gen-seacrh-btn"><i class="fa fa-search"></i></a>
      <div class="gen-search-form">
          <form role="search" method="get" class="search-form" action="#">
              <label>
                  <span class="screen-reader-text"></span>
                  <input type="search" class="search-field" placeholder="Search …"
                      value="" name="s">
              </label>
              <button type="submit" class="search-submit"><span
                      class="screen-reader-text"></span></button>
          </form>
      </div>
  </div> -->
    <a class="nav-item" href="#">
      <i-feather name="search"></i-feather>
  
      <p>Search</p>
    </a>
    <a class="nav-item" href="#">
      <i-feather name="settings"></i-feather>
      <p>Settings</p>
    </a>
    <a class="nav-item" href="#">
      <i-feather name="users"></i-feather>
      <p>My Space</p>
    </a>
  </nav>
  