
<!-- Mobile View (only shown if it's mobile) -->
<div *ngIf="mobile">
  <app-nav-header-top></app-nav-header-top>
  <!-- <router-outlet></router-outlet> Content displayed here -->
  <app-nav-header *ngIf="!isAuthenticationPage()"></app-nav-header> <!-- Mobile-specific header -->
</div>

<!-- Desktop View: Header and Footer (only shown if it's desktop and not login/register) -->
<div *ngIf="!mobile && showHeader && !isAuthenticationPage()">
  <app-header></app-header> <!-- Desktop-specific header -->
</div>

<!-- Main Content Outlet (always shown, used for login, register, etc.) -->
<router-outlet></router-outlet> <!-- Main content goes here -->

<!-- Footer (only shown if it's desktop and not login/register) -->
<div *ngIf=" !isAuthenticationPage()">
  <app-fotter></app-fotter> <!-- Desktop-specific footer -->
</div>
